.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 31px;
  }
  &__link{
    padding:0 2px 4px;
    @extend %Roboto-400;
    color: $title;
    text-transform: uppercase;
    transition: all .3s;
    &:hover{
      @extend %Roboto-700;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__link--activ{
    @extend %Roboto-700;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }
  &__link:not(:last-child){
  margin-right: 25px;
  }
  &__num{
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    color: #fff; 
    top: -8px;
    right: -14px;
    font-size: 12px;
    line-height: 20px;
  }
}