<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/contacts.min.css">
</head>

<body>
  {% include 'app/module/_header/_header.html' %}
  <main class="main">
    {% include 'app/module/_top/_top.html' %}
    {% include 'app/module/_map/_map.html' %}
    {% include 'app/module/_contact/_contact.html' %}
  </main>
  {% include 'app/module/_footer/_footer.html' %}


  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly" defer></script>
  <script>
    let map;
    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 40.72720689907427, lng: -74.0401756210886 },
        zoom: 10,
      });

    }
  </script>
  <script src="js/main.min.js"></script>
</body>

</html>