.top-slider{
  background-image: url('../images/decor/top-slider-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding: 65px 0 36px;
  &__container{
  max-width: 1560px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__content{
    padding-left: 175px;
    padding-top: 130px;
  }
  &__title{
    max-width: 670px;
    @extend %Roboto-700;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    margin-bottom: 35px;
  }
  &__text{
    max-width: 470px;
    margin-bottom: 60px;
  }
  &__link{
    @extend %btn;
    padding: 14px 35px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -70px;
    li{
      padding: 0 5px;
      button{
        padding: 0;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        width: 28px;
        height: 28px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.slick-active{
        button{
          border-color: $accent;
          &::before{
            background-color: $accent;
          }
        }
      }
    }
  }
}