.partners{
    padding-top: 75px;
    &__list{
      height: 170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (max-width: 620px){
    .partners{
      padding: 60px 0 40px;
      &__list{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
      }
      &__item{
        margin: 0 20px 20px;
      }
    }
  }